{extend name='index:base'/}
{block name='main'}
			<div class="bg-wrapper aout-page">
				<section id="title-box" class="paralax bg-opacity-color about">
					<div class="wrapper">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h1>关于我们</h1>
							<span class="subtitle">关于花卉，关于蔬菜</span>
						</div>
					</div>
				</section>
				<section id="breadcrumbs" class="tooth tooth-green">
					<div class="section-bg">
						<div class="wrapper top-bug">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<ul>
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<span>About us</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section class="title-center">
					<div class="wrapper">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="section-title-box title-box-center wow bounceInDown center">
								<h2>最全面的服务和产品</h2>
								<span class="subtitle">我们拥有全面的产品</span>
							</div>
						</div>
		
					</div>
				</section>



			



				<section class="exspertize flower-img">
					<div class="tooth-color-white"></div>
					<div class="wrapper">
						<div class="row row-custom">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title-box wow rollIn center ">
								<h2>我们的服务经验</h2>

							</div>
						</div>

						<div class="row row-custom expertise-box">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  wow fadeInLeft">
								<div class="subtitle">2018诞生于河南理工大学</div>
								<h3>迅速占领市场</h3>
								<p>我们拥有专业的技术团队，花卉养殖场所，拥有8个分公司，遍布中国.</p>
								<p>全世界的名贵花卉，应有尽有，7*24小时客服，技术上门服务等. </p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
								<div class="progress-box-wrapper">
									<div class="progress-box">
										<div class="progress-title">花卉代养</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80"
												aria-valuemin="0" aria-valuemax="100" style="width:80%">
												<span class="sr-only">80%</span>
											</div>
										</div>
									</div>
									<div class="progress-box">
										<div class="progress-title">花卉市场份额</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90"
												aria-valuemin="0" aria-valuemax="100" style="width:90%">
												<span class="sr-only">90%</span>
											</div>
										</div>
									</div>
									<div class="progress-box">
										<div class="progress-title">蔬菜健康指数</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="100"
												aria-valuemin="0" aria-valuemax="100" style="width:100%">
												<span class="sr-only">100%</span>
											</div>
										</div>
									</div>
									<div class="progress-box">
										<div class="progress-title">互联网销售指标</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80"
												aria-valuemin="0" aria-valuemax="100" style="width:80%">
												<span class="sr-only">80%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row our-info-box percent-blocks">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<ul class="our-info">
									<li class="chart" data-percent="1500">
										<span class="ef icon_like_alt"></span>
										<div class="number percent"></div>
										<div class="text">花卉代养</div>
									</li>
									<li class="chart" data-percent="358">
										<span class="ef icon_group"></span>
										<div class="number percent"></div>
										<div class="text">线上销售</div>
									</li>
									<li class="chart" data-percent="26">
										<span class="ef icon_house"></span>
										<div class="number percent"></div>
										<div class="text">客服咨询</div>
									</li>
									<li class="chart" data-percent="2641">
										<span class="ef icon_tools"></span>
										<div class="number percent"></div>
										<div class="text">免费参观</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>


			</div>
		{/block}
