{extend name='index:base'/}
{block name='main'}


<section class="" style="padding:20px 10px;">

	<div class='row'>
		<h3 class="text-center">请您填写详细信息，我们更好为你服务</h3>

		<div class="col-md-5">


			<!-- <div class="col-md-12">
					<img src="{$Think.Config.WEBSERVER}/{$item['cover']}" alt="">
			</div>

			<div class="col-md-12">
					{$item['name']}

			</div> -->

			<div class="product-box">
				<div class="product-image">
					<a href="shop-2.html">
						<img src="{$Think.Config.WEBSERVER}/{$item['cover']}" alt="product">
					</a>
				</div>
				<div class="product-desc-wrapper">
					<div class="product-title"><span>{$item['name']}</span></div>
					<div class="product-desc">Sale off</div>


					<div class="row">
						<div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
							<div class="price">￥{$item['price']}</div>
						</div>


						<div class="col-md-9">

							<div class="rating pull-right">
								{for start="0" end="$item['level']" name='k'}
										<span class="ef icon_star"></span>
								{/for}
								{for start="0" end="5-$item['level']" name='k'}
										<span class="ef icon_star empty"></span>
								{/for}
							</div>

						</div>
					</div>


				</div>
			</div>







		</div>


			<div class="col-md-7">

				<form class="form" id="buy"  method="post">
						<input type="hidden" name="flowerid" value="{$item['id']}">
						<input type="hidden" name="type" value="{$type}">
							<div class="form-group">

									<label for="">购买数量</label>
									<input type="number" name="num" value="1" min="1" class="form-control">

							</div>

							{if condition="$type eq 1"}
							<div class="form-group">

									<label for="">收货地址</label>
									<input type="text" name="address"  class="form-control">

							</div>

							<div class="form-group">

									<label for="">收货人</label>
									<input type="text" name="recieve"  class="form-control">

							</div>
							{else/}
							<strong style="color:red;">代养费￥20/mon</strong>
							<div class="form-group">

									<label for="">请选择代养时长</label>
									<select class="form-control" name="time">
										<option value="1">one month</option>
										<option value="2">two month</option>
										<option value="3">three month</option>
										<option value="4">four month</option>
										<option value="5">five month</option>
										<option value="6">six month</option>
										<option value="12">one year</option>
									</select>

							</div>
							{/if}
							<div class="form-group">

									<label for="">联系电话</label>
									<input type="text" name="phone"  class="form-control">

							</div>

							<div class="form-group">
								<span id="payinfo">
									您需要支付<span id="allfee" style="color:red;font-size:20px;"></span>
								</span>
							</div>
								<div class="form-group">
									<button type="button"  class="btn btn-success" onclick="buy()" style="padding:5px;width:100px;">确认购买</button>
								</div>


				</form>



			</div>





	</div>


	<div class="modal fade" tabindex="-1" role="dialog" id="pay">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">扫一扫，支付</h4>
	      </div>
	      <div class="modal-body">

						<h2>此订单需支付 <span id="orderpay"></span></h2>
						<img src="{$Think.Config.WEBSERVER}/public/hua/img/pay.png" alt="">

	      </div>

	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</section>

<script type="text/javascript">

function countfee(){
	var months = $("select[name='time']").val();
	var num = $("input[name='num']").val();
	var type = "{$type}";
	var price = "{$item['price']}";
	var totalfee = price*num;
	var fee2 = 0;
	if(type == 2){
		fee2 = 20*months*num;
	}
	totalfee = totalfee+fee2;

	$("#allfee").html('￥'+totalfee);
}

$("select[name='time']").change(countfee);
$("input[name='num']").bind("input propertychange",function(){

countfee();

});
countfee();
	function buy(){

		$.post("{:url('index/index/makeorder')}",$("#buy").serialize(),function(data){


						if(data.code===1){
							alert(data.msg);
									$("#orderpay").html(data.fee);
									$("#pay").modal();

						}else{
							alert(data.msg);
						}


		},'JSON');





	}

</script>








{/block}
