{extend name="index:base" /}
{block name='main'}

	      <div id="owl-home" class="owl-carousel owl-theme home-slider">

                <div class="item">
                    <div class="h-slider-bg">
                        <img class="slide-bg" src="{$Think.Config.WEBSERVER}/public/hua/media/home-slider/slide-1.jpg" alt="slide-1">
                    </div>
                    <div class="wrapper s-custom">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="b-s-desc main-slider_fadeInLeft ">最优质的服务</div>
                            <h1 class="s-custom-3">总有你要得哪一款</h1>
                            <a class="btn-1 h-slide-btn" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="h-slider-bg">
                        <img class="slide-bg" src="{$Think.Config.WEBSERVER}/public/hua/media/home-slider/slide-2.jpg" alt="slide-2">
                    </div>
                    <div class="wrapper">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1>关注花卉成长<br />优雅高尚</h1>
                            <div class="b-s-text">拉美xx君子兰，你的首选
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="h-slider-bg">
                        <img class="slide-bg" src="{$Think.Config.WEBSERVER}/public/hua/media/home-slider/slide-3.jpg" alt="slide-3">
                    </div>
                    <div class="wrapper s-custom-2 s-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="s-border"></h1>
                            <div class="b-s-text">7*24小时，呵护蔬菜花卉</div>
                            <div class="input-box in-home-slider">
                                <button class="button-border text-uppercase">
                                    <span class="text-btn">查看品种</span>
                                    <span class="borfer-btn"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div><section class="tools-bg dash-top-line">
                <div class="top-icon-block"></div>
                <div class="wrapper text-center circle-box circle-box-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="title-content-box hom-1 wow bounceInDown center">
                                <h2>我们辛勤劳动，为了您的花卉情绪</h2>
                                <p>自然蔬菜，吃出健康，吃出新生活</p>
                            </div>
                        </div>
                    </div>
                    <div class="row hom-1-c">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <div class="c-link-box wow rollIn">
                                <a class="btn big-circle pull-right" href="#">
                                    <span class="c-content-block">
                                        <span class="ef icon_clock"></span>
                                        <span class="b-text">Working Hours</span>
                                        <span class="desc">8:00AM-18:00PM</span>                                    </span>                             </a>                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="c-link-box wow rollIn">
                                <a class="btn big-circle pull-left" href="#">
                                    <span class="c-content-block">
                                        <span class="ef icon_documents"></span>
                                        <span class="b-text">Get In Touch NOW</span>
                                        <span class="desc">Offer Friendly Service!</span>                                   </span>                             </a>                            </div>
                        </div>
                    </div>
                    <div class="el-image-left hidden-xs hidden-sm"></div>
                    <div class="el-image-right hidden-xs hidden-sm"></div>
                </div>
                <div class="tooth-color-w"></div>
            </section>




<section class="services">

	<div class="shop-grid">
		<div class="row wow fadeInUp">

			{foreach name="flower" item="vo"}
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-box">
					<div class="product-image">
						<a href="{:url('index/index/buy',array('id'=>$vo['id']))}">
							<img src="{$Think.Config.WEBSERVER}/{$vo['cover']}" alt="product">
						</a>
					</div>
					<div class="product-desc-wrapper">
						<div class="product-title"><span>{$vo['name']}</span></div>
						<div class="product-desc">Sale off</div>
						<div class="row-pr">
							<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
								{if condition="$vo['type'] eq 1"}
<a class="add-to-cart pull-left" href="{:url('index/index/buy',array('id'=>$vo['id'],'type'=>2))}"><span>申请代养</span></a>{/if}
								<a class="add-to-cart pull-right" href="{:url('index/index/buy',array('id'=>$vo['id'],'type'=>1))}"><span>立即购买</span></a>
                                <a class="add-to-cart pull-right" href="javascript:addcart({$vo['id']})"><span>加入购物车</span></a>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<div class="price">￥{$vo['price']}</div>
								<div class="rating pull-right">
									{for start="0" end="$vo['level']" name='k'}

											<span class="ef icon_star"></span>


									{/for}

									{for start="0" end="5-$vo['level']" name='k'}

											<span class="ef icon_star empty"></span>

									{/for}





								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{/foreach}




		</div>




	</div>

</section>






            <!-- <section class="services right-image-box">
                <div class="wrapper">
                    <div class="row-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-title-box wow rollIn center">
                                <h2>Our Services</h2>
                                <span>Nam lobortis fringilla felis. Fusce vol utpate urna cras quam vitae turpis</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-1 wow fadeInUp">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav nav-tabs vertical-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#menu1">
                                        <img src="{$Think.Config.WEBSERVER}/public/hua/media/34x34/watering-can.png" alt="watering-can">
                                        <span>Garden Care</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#menu2">
                                        <img src="{$Think.Config.WEBSERVER}/public/hua/media/34x34/haystack.png" alt="haystack">
                                        <span>Lawn Moving</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#menu3">
                                        <img src="{$Think.Config.WEBSERVER}/public/hua/media/34x34/tractor.png" alt="tractor">
                                        <span>Rubbish Removal</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#menu4">
                                        <img src="{$Think.Config.WEBSERVER}/public/hua/media/34x34/pear.png" alt="pear">
                                        <span>Landscape Design</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#menu5">
                                        <img src="{$Think.Config.WEBSERVER}/public/hua/media/34x34/tap.png" alt="tap">
                                        <span>Watering Garden</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="tab-content h1-tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <h3>Garden Care</h3>
                                    <p>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis sed ipsum convallis. Duis libero. Suspendisse potenti. Suspndisse ipsu porta ligula non elementum ultricies.</p>
                                    <p>Justo urna egestas metusl ut ornare leo augue pharetra risus. Morbid tinclunt  massa ac vestibulum rutrum.</p>
                                    <ul class="list-style-twig">
                                        <li>Careful and regular work of your garden or lawn</li>
                                        <li>Dignissim consectetuer neque</li>
                                        <li>Proin risus nibh viverra eget lobortis feugiat</li>
                                    </ul>
                                    <button class="btn extra-color text-uppercase">
                                        <span class="ef icon_documents"></span>
                                        <span>Request Free Quote</span>
                                    </button>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <h3>Lawn Moving</h3>
                                    <p>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis sed ipsum convallis. Duis libero. Suspendisse potenti. Suspndisse ipsu porta ligula non elementum ultricies.</p>
                                    <p>Justo urna egestas metusl ut ornare leo augue pharetra risus. Morbid tinclunt  massa ac vestibulum rutrum.</p>
                                    <ul class="list-style-twig">
                                        <li>Careful and regular work of your garden or lawn</li>
                                        <li>Dignissim consectetuer neque</li>
                                        <li>Proin risus nibh viverra eget lobortis feugiat</li>
                                    </ul>
                                    <button class="btn extra-color text-uppercase">
                                        <span class="ef icon_documents"></span>
                                        <span>Request Free Quote</span>
                                    </button>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <h3>Rubbish Removal</h3>
                                    <p>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis sed ipsum convallis. Duis libero. Suspendisse potenti. Suspndisse ipsu porta ligula non elementum ultricies.</p>
                                    <p>Justo urna egestas metusl ut ornare leo augue pharetra risus. Morbid tinclunt  massa ac vestibulum rutrum.</p>
                                    <ul class="list-style-twig">
                                        <li>Careful and regular work of your garden or lawn</li>
                                        <li>Dignissim consectetuer neque</li>
                                        <li>Proin risus nibh viverra eget lobortis feugiat</li>
                                    </ul>
                                    <button class="btn extra-color text-uppercase">
                                        <span class="ef icon_documents"></span>
                                        <span>Request Free Quote</span>
                                    </button>
                                </div>
                                <div id="menu4" class="tab-pane fade">
                                    <h3>Landscape Design</h3>
                                    <p>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis sed ipsum convallis. Duis libero. Suspendisse potenti. Suspndisse ipsu porta ligula non elementum ultricies.</p>
                                    <p>Justo urna egestas metusl ut ornare leo augue pharetra risus. Morbid tinclunt  massa ac vestibulum rutrum.</p>
                                    <ul class="list-style-twig">
                                        <li>Careful and regular work of your garden or lawn</li>
                                        <li>Dignissim consectetuer neque</li>
                                        <li>Proin risus nibh viverra eget lobortis feugiat</li>
                                    </ul>
                                    <button class="btn extra-color text-uppercase">
                                        <span class="ef icon_documents"></span>
                                        <span>Request Free Quote</span>
                                    </button>
                                </div>
                                <div id="menu5" class="tab-pane fade">
                                    <h3>Watering Garden</h3>
                                    <p>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis sed ipsum convallis. Duis libero. Suspendisse potenti. Suspndisse ipsu porta ligula non elementum ultricies.</p>
                                    <p>Justo urna egestas metusl ut ornare leo augue pharetra risus. Morbid tinclunt  massa ac vestibulum rutrum.</p>
                                    <ul class="list-style-twig">
                                        <li>Careful and regular work of your garden or lawn</li>
                                        <li>Dignissim consectetuer neque</li>
                                        <li>Proin risus nibh viverra eget lobortis feugiat</li>
                                    </ul>
                                    <button class="btn extra-color text-uppercase">
                                        <span class="ef icon_documents"></span>
                                        <span>Request Free Quote</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs hidden-sm">
                            <img class="content-right-image" src="{$Think.Config.WEBSERVER}/public/hua/media/home/men.png" alt="men">                        </div>
                    </div>
                </div>
            </section> -->








            <section class="gallery-box">

                <div class="gallery-wrapper">
                    <div class="g-row">
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-1.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-1.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-2.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-2.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-2">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-3.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-3.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-3">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-4.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-4.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-4">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-row">
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-5.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-5.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-6.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-6.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-2">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-7.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-7.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-3">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-item">
                            <img src="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-8.jpg" alt="Recent Work">
                            <div class="item-gallery-descr">
                                <div class="btn-modal-box">
                                    <a class="btn-modal" href="{$Think.Config.WEBSERVER}/public/hua/media/400x300/pr-8.jpg" data-toggle="lightbox" data-title="Recent Work">
                                        <span class="ef icon_zoom-in"></span>
                                    </a>
                                    <button type="button" class="btn-modal" data-toggle="modal" data-target="#myModal-4">
                                        <span class="ef icon_documents"></span>
                                    </button>
                                </div>
                                <div class="desc-work">Trees In The Garden</div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat minima vitae cum unde perspiciatis autem consectetur exercitationem, iusto iure deleniti animi non nesciunt suscipit sapiente possimus voluptatibus ratione, rerum? Voluptatibus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et nam corporis tenetur modi deleniti reprehenderit, itaque temporibus nisi in cumque laboriosam magni, voluptate quidem quos maxime aspernatur quae ullam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-center">
                        <a class="btn btn-border wow bounceInUp center" href="#">
                            <span>Lead More</span>
                        </a>
                    </div>
                </div>
                <div class="tooth-color-gr"></div>
            </section>



            <!-- <section class="why-choose-us bg-wrapper">
                <div class="wrapper">
                    <div class="row-1 ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-title-box custom-5 wow rollIn center ">
                                <h2>Why Choose Us</h2>
                                <span>The Name you can Trust with Professional and Fully Trained Operators!</span>                          </div>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 hidden-xs hidden-sm im-box">
                            <img class="content-left-image" alt="girl" src="{$Think.Config.WEBSERVER}/public/hua/media/home/girl.png">                       </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="listing l-row-2">
                                <ul>
                                    <li class="wow bounce">
                                        <span class="fl-ic flaticon-gardening4"></span>
                                        <div class="list-content">
                                            <h4>Excellent Services</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                    <li class="wow bounce">
                                        <span class="fl-ic flaticon-plants5"></span>
                                        <div class="list-content">
                                            <h4>All Quotes Free</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                    <li class="wow bounce">
                                        <span class="fl-ic flaticon-sunny23"></span>
                                        <div class="list-content">
                                            <h4>Satisfied Customers</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                    <li class="wow bounce">
                                        <span class="fl-ic flaticon-shower5"></span>
                                        <div class="list-content">
                                            <h4>Guaranteed Work</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                    <li class="wow bounce">
                                        <i class="fl-ic flaticon-cutting8"></i>
                                        <div class="list-content">
                                            <h4>Insured Operators</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                    <li class="wow bounce">
                                        <span class="fl-ic flaticon-shovel16"></span>
                                        <div class="list-content">
                                            <h4>Quality and Reliability</h4>
                                            <div>Nam lobortis fringilla felis sce sed utpat mi at urna cras ut nec.</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->



<!--             <section class="color-bg box-tools-bg home-1">
                <div class="wrapper">
                    <div class="row-4">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row-2-blocks row-2-blocks-2 wow bounceInDown center">
                                <div class="r-block-1">
                                    <div class="c-content-block">
                                        <h2>We Work Hard And Make Your Garden Beautiful</h2>
                                        <div>Friendly customer service staff for your all questions!</div>
                                    </div>
                                </div>
                                <div class="r-block-2">
                                    <div class="btn big-circle">
                                        <div class="big-text">
                                            GET in touch today!                                     </div>
                                        <div class="sm-text">
                                            We'll fix all your Problems!                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tooth-color-gr"></div>
            </section>
            <section class="quote-olw bg-wrapper q-h-1">
                <div class="wrapper">
                    <div class="row-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-title-box wow rollIn center  ">
                                <h2>Happy Customers</h2>
                                <span>Nam lobortis fringilla felis. Fusce vol utpat mi at urna. Cras ut nec quam vitae turpis</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="quote-olw-h1">
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image2.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Rayasil Zadu</h4>
                                        <div class="q-sub">Home Owner, California</div>
                                    </div>
                                </div>
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image1.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Jeebon Heza</h4>
                                        <div class="q-sub">Home Owner, Newyork</div>
                                    </div>
                                </div>
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image2.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Rayasil Zadu</h4>
                                        <div class="q-sub">Home Owner, California</div>
                                    </div>
                                </div>
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image1.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Jeebon Heza</h4>
                                        <div class="q-sub">Home Owner, Newyork</div>
                                    </div>
                                </div>
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image2.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Rayasil Zadu</h4>
                                        <div class="q-sub">Home Owner, California</div>
                                    </div>
                                </div>
                                <div class="quote-box">
                                  <quote class="quote-block-2">
                                    <div class="quote-wrap">
                                            <div class="quote-photo">
                                                <img class="#" alt="image" src="{$Think.Config.WEBSERVER}/public/hua/media/76x76/image1.jpg">                                            </div>
                                            <div class="text-quote">
                                                <p>Nulla euismod malesuada nibh. Donec nunc. Praesent sit amet turpis eu nisl faucibus pharetra. Fusce quis neque vel leo semp er rhoncus. Ut interdum, risus id luctus consectetuer velit neq ue ornare quam beat ornare nisi velit nec turpis. Mauris lorem. Phasellus egestas urna vel sem. Ut auctor.</p>
                                            </div>
                                        </div>
                                        <span class="ef arrow_triangle-down"></span>                                    </quote>
                                    <div class="q-signature">
                                        <h4>Jeebon Heza</h4>
                                        <div class="q-sub">Home Owner, Newyork</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-folw"></div>
                </div>
            </section> -->




            <section class="light-bg home-1-blog-post">
                <div class="wrapper">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title-box wow rollIn center  ">
                            <h2>Blog Posts</h2>
                            <span>Nam lobortis fringilla felis. Fusce vol utpat mi at urna cras quam vitae turpis</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="owl-team">


															{foreach name='news' item="new"}
                                <div class="item wow rollIn center">
                                    <div class="team-img h-post-image">
                                        <img src="{$Think.Config.WEBSERVER}/{$new['cover']}" alt="img">
                                        <span class="date-post">10 <span>Apr</span></span>
                                        <div class="post-icon">
                                            <span class="ef icon_image "></span>
                                        </div>
                                    </div>
                                    <div class="team-info-block">
                                        <h4>{$new['title']}</h4>
                                        <div class="info-box">
                                            <ul>
                                                <li>
                                                    By Admin
                                                </li>
                                                <li>
                                                    hua.com
                                                </li>
                                                <li>
                                                    3 Comments
                                                </li>
                                            </ul>
                                        </div>
                                        <p>{$new['description']}</p>
                                    </div>
                                </div>



                              {/foreach}



                            </div>
                        </div>
                    </div>
                </div>
            </section>



{/block}
