{extend name='index:base'/}
{block name="main"}


    <div class="container" style="padding-top:20px;padding-bottom:20px;">
      <div class="row">
        

      {foreach name='all' item='vo'}


          <div class="col-md-3 col-sm-12">
              <ul>
                <li>add:dadsd</li>
              </ul> 
          </div>

        
{/foreach}
 <div class="col-md-3 col-sm-12" style="background: grey">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
</div>
</div>


{/block}
