{extend name='index:base'/}
{block name="main"}


    <div class="container" style="padding-top:20px;padding-bottom:20px;">
      <div class="row">
        

      {foreach name='ques' item='vo'}


          <div class="col-md-3 col-sm-12">
            

      <div class="panel-group"  role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{$vo['id']}" aria-expanded="true" aria-controls="collapseOne">
             question ID{$vo.id}&nbsp <span class="pull-right">{$vo['addtime']|date='Y-m-d H:i',###}</span>
            </a><br>

          </h4>
        </div>
        <div id="collapseOne{$vo['id']}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p class="bg-danger">{$vo['title']}:{$vo['content']}</p>
            <p style="color:red;font-size:20px;">{if condition="$vo['answer'] neq ''"}{$vo['answer']}At {$vo['restime']|date="Y-m-d H:i",###}{else/}there is no any answer {/if}</p>
          </div>
        </div>
        </div>


    </div>
  </div>


{/foreach}
</div>
</div>


{/block}
