{extend name='index:base'}
{block name='main'}
  <section class="title-center">
    <div class="row" style="padding:25px 30px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

{if condition="$orders neq NULL"}
        {foreach name='orders' item='vo'}
        <div class="media">
        <div class="media-left">
          <a href="#">
            <img height="175px" class="media-object" src="{$Think.Config.WEBSER}/{$vo['cover']}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{$vo['orderid']}</h4>
          <p>{$vo['name']}</p>
          <p style="color:red;font-size:20px;">order fee:${$vo['fee']}</p>
          <p>expire:{$vo['expire']|date="Y-m-d H:i:s",###}</p>
          <p>{$vo['addtime']|date="Y-m-d H:i:s",###}</p>
          <p>status:<span class="label label-success">paued</span></p>
          <a class="btn btn-warning" href="{:url('index/index/stat',array('id'=>$vo['id']))}"  style="padding:5px 10px">view detail</a>
        </div>
      </div>
      <hr>

      {/foreach}
      {else/}
      <div class="well">

        There is no anything.

      </div>

      {/if}
      </div>

      <div class="col-md-6">
{if condition="$orders neq NULL"}
        {if condition="$page eq 1"}
        <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder')}?p=1">1st page</a>
        {else/}
          <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$page-1}">prev</a>
        {/if}
      </div>
    <div class="col-md-6">
      {if condition="$page eq $maxpage"}
        <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$maxpage}">Final</a>
      {else/}
      <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$page+1}">Next page</a>
      {/if}

      {/if}
    </div>



    </div>
  </section>


  <div class="modal fade" tabindex="-1" role="dialog" id="ask">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">please tell us what you want</h4>
        </div>
        <div class="modal-body">


            <form class="form" id="askform">
              <input type="hidden" name="oid" value="">
                <div class="form-group">

                    <label for="">question title</label>
                    <input style="border-color: #d0c9c9;" class="form-control" type="text" name="title" value="">
                </div>


                <div class="form-group">

                  <textarea name="content" class="form-control" rows="8" cols="80"></textarea>

                </div>



            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="makeask()" class="btn btn-primary">Submit</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<script type="text/javascript">
function Ask(id){

  $("input[name='oid']").val(id);
  $("#ask").modal();
}
function makeask(){
  $.post("{:url('index/index/ask')}",$("#askform").serialize(),function(data){
        if(data.code===1){

              alert('u have asked successfully.');


        }else{
          alert('u need to login');
        }



  },'JSON');



}
</script>


{/block}
