{extend name='index:base'}
{block name='main'}
  <section class="title-center">
    <div class="row" style="padding:25px 30px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

{if condition="$orders neq NULL"}
        {foreach name='orders' item='vo'}
        <div class="media">
        <div class="media-left">
          <a href="#">
            <img height="175px" class="media-object" src="{$Think.Config.WEBSER}/{$vo['cover']}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{$vo['orderid']}</h4>
          <p>{$vo['name']}</p>
          <p style="color:red;font-size:20px;">总金额:${$vo['fee']}</p>
          <p>到期日:{$vo['expire']|date="Y-m-d H:i:s",###}</p>
          <p>{$vo['addtime']|date="Y-m-d H:i:s",###}</p>
          <p>状态:<span class="label label-success">托养中</span></p>
          <a class="btn btn-warning" href="{:url('index/index/stat',array('id'=>$vo['id']))}"  style="padding:5px 10px">查看花卉状态</a>
            <a class="btn btn-warning" href="javascript:ordermore({$vo['id']})"  style="padding:5px 10px">续时</a>
        </div>
      </div>
      <hr>

      {/foreach}
      {else/}
      <div class="well">

        There is no anything.

      </div>

      {/if}
      </div>

      <div class="col-md-6">
{if condition="$orders neq NULL"}
        {if condition="$page eq 1"}
        <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder2')}?p=1">1st page</a>
        {else/}
          <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder2')}?p={$page-1}">prev</a>
        {/if}
      </div>
    <div class="col-md-6">
      {if condition="$page eq $maxpage"}
        <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder2')}?p={$maxpage}">Final</a>
      {else/}
      <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder2')}?p={$page+1}">Next page</a>
      {/if}

      {/if}
    </div>



    </div>
  </section>


  <div class="modal fade" tabindex="-1" role="dialog" id="helpmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">please choose the serve</h4>
        </div>
        <div class="modal-body" id="con">


            <form class="form" id="help">
              <input type="hidden" name="oid" value="">

              <strong style="color:red;">代养费￥20/mon</strong>
              <div class="form-group">

                  <label for="">请选择代养时长</label>
                  <select class="form-control" name="time">
                    <option value="1">one month</option>
                    <option value="2">two month</option>
                    <option value="3">three month</option>
                    <option value="4">four month</option>
                    <option value="5">five month</option>
                    <option value="6">six month</option>
                    <option value="12">one year</option>
                  </select>

              </div>
            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="suborder()" class="btn btn-primary">Submit</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  <div class="modal fade" tabindex="-1" role="dialog" id="pay">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">扫一扫，支付</h4>
        </div>
        <div class="modal-body">

            <h2>此订单需支付 <span id="orderpay"></span></h2>
            <img src="{$Think.Config.WEBSERVER}/public/hua/img/pay.png" alt="">

        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script type="text/javascript">
function Ask(id){

  $("input[name='oid']").val(id);
  $("#ask").modal();
}
function makeask(){
  $.post("{:url('index/index/ask')}",$("#askform").serialize(),function(data){
        if(data.code===1){

              alert('u have asked successfully.');


        }else{
          alert('u need to login');
        }



  },'JSON');



}


function ordermore(id){

  $("input[name='oid']").val(id);
  $("#helpmodal").modal();
}


function suborder(){
    var time=$("select[name='time']").val();
    var id = $("input[name='oid']").val();
    $.post("{:url('index/index/ordermore')}",{'id':id,'time':time},function(data){

            alert(data.msg);
            if(data.code===1){
              $("#orderpay").html(data.fee);
              $("#pay").modal();

            }


    },'JSON');



}


function counttotal(){
  var time=$("input[name='time']").val();
  var fee = time*20;



}
</script>


{/block}
