{extend name='index:base'}
{block name='main'}
  <section class="title-center">
    <div class="row" style="padding:25px 30px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

{if condition="$orders neq NULL"}
        {foreach name='orders' item='vo'}
        {if condition="$vo.data neq ''"}

      <div class="panel panel-default">
        <div class="panel-heading">{$vo['orderid']} &nbsp订单总额:<span style="color:red;font-size:25px;">{$vo['total']}</span> &nbsp     <p>订单状态:{if condition="$vo['status'] eq 1"}
            <span class="label label-success">no pay</span>{elseif condition="$vo['status'] eq 2"}
            <span class="label label-info">waiting post</span>{elseif condition="$vo['status'] eq 3"}
            <span class="label label-warning">posting</span>{elseif condition="$vo['status'] eq 4"}
                <span class="label label-success">done</span>
            {/if}
          </p></div>
        <div class="panel-body">
                  <ul class="media-list">
                    {foreach name="$vo['data']" item="towdata"}

                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="{$Think.Config.SERVER}/{$towdata['flower']['cover']}" alt="..." width="100">
                          </a>
                        </div>
                        <div class="media-body">
                          <h3 class="media-heading">{$towdata['flower']['name']}</h3>
                          <h4>数量:{$towdata['num']}</h4>
                          <p>单价：{$towdata['price']}</p>
                        </div>
                      </li><hr>


                    {/foreach}

    </ul>
      <div class="">
          <p>下单时间:{$vo['addtime']|date="Y-m-d H:i:s",###}</p>
          <span class="btn btn-warning" onclick="Ask({$vo['id']})" style="padding:8px 15px">咨询问题</span>
          {if condition="$vo['status'] eq 3"}<span class="btn btn-warning" onclick="recieve({$vo['id']})" style="padding:8px 15px">确认收货</span>{/if}
          {if condition="$vo['expressinfo'] neq ''"}
          <p>{$vo['expressinfo']['name']}:{$vo['expressinfo']['id']}</p>
          {/if}
      </div>

        </div>
      </div>




































        {else/}
        <div class="media">
        <div class="media-left">
          <a href="#">
            <img height="175px" class="media-object" src="{$Think.Config.WEBSER}/{$vo['cover']}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{$vo['orderid']}</h4>
          <p>{$vo['name']}</p>
          <p style="color:red;font-size:20px;">订单总额:${$vo['fee']}</p>
          <p>下单时间:{$vo['addtime']|date="Y-m-d H:i:s",###}</p>
          <p>订单状态:{if condition="$vo['status'] eq 1"}
            <span class="label label-success">no pay</span>{elseif condition="$vo['status'] eq 2"}
          <span class="label label-info">waiting post</span>{elseif condition="$vo['status'] eq 3"}
          <span class="label label-warning">posting</span>{elseif condition="$vo['status'] eq 4"}
              <span class="label label-success">done</span>
          {/if}
        </p>
          <span class="btn btn-warning" onclick="Ask({$vo['id']})" style="padding:8px 15px">咨询问题</span>
          {if condition="$vo['status'] eq 3"}<span class="btn btn-warning" onclick="recieve({$vo['id']})" style="padding:8px 15px">确认收货</span>{/if}
        </div>
        {if condition="$vo['expressinfo'] neq ''"}
        <p>{$vo['expressinfo']['name']}:{$vo['expressinfo']['id']}</p>
        {/if}
      </div>

      {/if}
          <hr>
      {/foreach}
        {else/}

        <div class="well">
            <p>You didn't buy anything here.</p>

        </div>

      {/if}
      </div>

      <div class="col-md-6">
{if condition="$orders neq NULL"}
        {if condition="$page eq 1"}
        <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder')}?p=1">已经到第一页</a>
        {else/}
          <a class="btn extra-color text-uppercase pull-right" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$page-1}">上一页</a>
        {/if}
      </div>
    <div class="col-md-6">
      {if condition="$page eq $maxpage"}
        <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$maxpage}">最后一页</a>
      {else/}
      <a class="btn extra-color text-uppercase" style="padding:10px 5px" href="{:url('index/index/myorder')}?p={$page+1}">下一页</>
      {/if}

    {/if}
    </div>



    </div>
  </section>


  <div class="modal fade" tabindex="-1" role="dialog" id="ask">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">告诉我们你想知道些什么？</h4>
        </div>
        <div class="modal-body">


            <form class="form" id="askform">
              <input type="hidden" name="oid" value="">
                <div class="form-group">

                    <label for="">问题标题</label>
                    <input style="border-color: #d0c9c9;" class="form-control" type="text" name="title" value="">
                </div>


                <div class="form-group">
		<label>请描述你的问题，我们的工作人员将在看到您问题的3小时内回复您！您可在我的咨询中查看。</label>
                  <textarea name="content" class="form-control" rows="8" cols="80"></textarea>

                </div>



            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" onclick="makeask()" class="btn btn-primary">提交</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<script type="text/javascript">
function Ask(id){

  $("input[name='oid']").val(id);
  $("#ask").modal();
}
function makeask(){
  $.post("{:url('index/index/ask')}",$("#askform").serialize(),function(data){
        if(data.code===1){

              alert('成功提交问题，请您耐心等待');
		$("#ask").modal('hide');

        }else{
          alert('你还没登录');
        }



  },'JSON');



}

function recieve(id){

  if(confirm("Are you sure to recieve your post?") === true){

    $.post("{:url('index/index/recieve')}",{'id':id},function(data){

          if(data.code === 1){

            alert(data.msg);
            location.reload();

          }



    },'JSON')
  }
}
</script>


{/block}
