{extend name='index/base'/}
{block name='main'}
			<div class="bg-wrapper">

				<section class="two-columns">
					<div class="wrapper">
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">

							<div class="settings-block wow bounceInDown center">
								<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
						<p>买花卉，送SSR</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
									<ul id="type-of-display" class="pull-right">
										<li>
											<button class="toogle-view grid-3 active-view">
												<span class="ef icon_grid-2x2"></span>
											</button>
										</li>
										<li>
											<button class="toogle-view grid-list">
												<span class="ef icon_ul"></span>
											</button>
										</li>
									</ul>
								</div>
							</div>

							<div class="shop-grid">
								<div class="row wow fadeInUp">

									{foreach name="flower" item="vo"}
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="product-box">
											<div class="product-image">
												<a href="{:url('index/index/buy',array('id'=>$vo['id']))}">
													<img src="{$Think.Config.WEBSERVER}/{$vo['cover']}" alt="product">
												</a>
											</div>
											<div class="product-desc-wrapper">
												<div class="product-title"><span>{$vo['name']}</span></div>
												<div class="product-desc">Sale off</div>
												<div class="row-pr">
													<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
														{if condition="$vo['type'] eq 1"}
						<a class="add-to-cart pull-left" href="{:url('index/index/buy',array('id'=>$vo['id'],'type'=>2))}"><span>申请代养</span></a>{/if}
														<a href="{:url('index/index/buy',array('id'=>$vo['id'],'type'=>1))}" class="add-to-cart pull-right"><span>买买买</span></a>
													<a class="add-to-cart pull-right" href="javascript:addcart({$vo['id']})"><span>加入购物车</span></a>
													</div>
													<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
														<div class="price">￥{$vo['price']}</div>
														<div class="rating pull-right">
															{for start="0" end="$vo['level']" name='k'}

																	<span class="ef icon_star"></span>


															{/for}

															{for start="0" end="5-$vo['level']" name='k'}

																	<span class="ef icon_star empty"></span>


															{/for}





														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									{/foreach}




								</div>




							</div>
{$flower->render()}
							<div class="pagination-box">


							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="left-block-wrapper wow fadeInUp">
								<div class="title-left-block">
									<h3 class="text-uppercase">产品分类</h3>
								</div>
								<div class="lb-content lb-content-accordion">
									<div id="accordion" class="accordion-l-box">


										<h3>
											<span class="fi flaticon-plants5"></span>
											<span class="title-accordion-menu-item">产品分类</span>
											<span class="ef accordion-icon"></span>
										</h3>
										<div>
											<ul id="fstat">
												<li data-id='1'><a href="{:url('index/index/store',array('cate'=>1))}">多肉植物</a></li>
												<li data-id='2'><a  href="{:url('index/index/store',array('cate'=>2))}">观叶植物</a></li>
												<li data-id='3'><a href="{:url('index/index/store',array('cate'=>3))}">草木之物</a></li>
												<li data-id='4'><a href="{:url('index/index/store',array('cate'=>4))}">室内植物</a></li>
												<li data-id='5'><a href="{:url('index/index/store',array('cate'=>5))}">水培植物</a></li>

												<li data-id='21'><a href="{:url('index/index/store',array('type'=>2,'cate'=>1))}">蔬菜瓜果</a></li>
											</ul>
										</div>




									</div>
								</div>
							</div>


							<div class="left-block-wrapper wow fadeInUp">
								<div class="l-banner-block hover-banner">
									<a href="#">
										<img src="{$Think.Config.WEBSERVER}/public/hua/media/270x300/banner-1.jpg" alt="banner">
										<span class="text-banner">
											<span class="title-banner-box">
												<h4>广告位</h4>
												<span>xxxxx</span>
											</span>
											<span class="color-box-banner">50% OFF</span>
											<span class="desc-banner">xxx</span>
										</span>
									</a>
								</div>
							</div>
							<div class="left-block-wrapper">
								<div class="title-left-block">
									<h3 class="text-uppercase">xxxxx</h3>
								</div>
								<div class="lb-content featured-product">
									<a href="#">
										<span class="f-image">
											<img src="{$Think.Config.WEBSERVER}/public/hua/media/store/product-5-s.jpg" alt="product">
										</span>
										<span class="f-product-descr">
											<span class="product-title">
												<span>xxxxxxx</span>
											</span>
											<span class="product-desc">xxxxxxxxxxxx</span>
											<div class="rating">
												<span class="ef icon_star"></span>
												<span class="ef icon_star"></span>
												<span class="ef icon_star"></span>
												<span class="ef icon_star"></span>
												<span class="ef icon_star"></span>
											</div>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="full-width-box wow fadeInUp">
					<div class="wrapper">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h1>Our Brands</h1>
							<span class="subtitle">Nam lobortis fringilla felis. Fusce vol utpat mi at urna ras quam vitae</span>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div id="owl-brends">
								<div class="item"><img src="{$Think.Config.WEBSERVER}/public/hua/media/brands/brand-1.jpg" alt="brand"></div>
								<div class="item"><img src="{$Think.Config.WEBSERVER}/public/hua/media/brands/brand-2.jpg" alt="brand"></div>
								<div class="item"><img src="{$Think.Config.WEBSERVER}/public/hua/media/brands/brand-3.jpg" alt="brand"></div>
								<div class="item"><img src="{$Think.Config.WEBSERVER}/public/hua/media/brands/brand-4.jpg" alt="brand"></div>
								<div class="item"><img src="{$Think.Config.WEBSERVER}/public/hua/media/brands/brand-5.jpg" alt="brand"></div>
							</div>
						</div>
					</div>
				</section>
<script type="text/javascript">
		var cid="{$cate}";
		$("#fstat li[data-id='"+cid+"']").addClass('active');

</script>



{/block}
