{extend name="admin:base" /}
{block name="main"}
  <!-- 搜索 -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">花卉列表</h3>
      <a href="{:url('Admin/addflower')}" class='btn btn-success btn-xs pull-right'>添加花卉</a>
    </div>
    <div class="box-body">
      <form method="GET" action="{:url('admin/flowerlist')}" id='form'>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <div class="input-group">
            <input name="word" type='text' class='form-control' value="" placeholder='标题关键词搜索..'>
            <span class="input-group-addon" onclick="$('#form').submit();"><i class="fa fa-search"></i></span>
              {if condition="$_GET['word'] neq ''"}
            <a title='清除条件' class="input-group-addon" href="{:url('admin/flowerlist')}"><i class="fa fa-remove"></i></a>
            {/if}
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.box-body -->
  </div>
  <!-- 列表 -->
  <div class="box box-solid">
    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <th>花朵图片</th>
            <th>花卉名称</th>
            <th>花卉分类</th>
            <th>单价</th>
            <th>星级</th>
            <th>库存</th>
            <th>入库时间</th>
            <th>操作</th>
          </tr>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td><img src="{$Think.Config.WEBSERVER}/{$vo.cover}" width="50"></td>
            <td>{$vo.name}</td>
            <td>{$vo.cate}</td>
            <td><span class="label label-success">{$vo.price}</span></td>
            <td>{$vo.level}</td>
            <td>{$vo.stock}</td>
        <td>{$vo.addtime|date="Y-m-d H:i",###}</td>

            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  管理
                  <span class="caret"></span>
                  <span class="sr-only">+</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{:url('index/admin/addflower',array('id'=>$vo['id']))}">编辑</a></li>

                  <li class="divider"></li>
                  <li><a href="javascript:setstat({$vo.id},-1);">删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>

    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	    <ul class="pagination pagination-sm no-margin pull-right">{$page}</ul>
	  </div>
  </div>
<script type="text/javascript">
function setstat(id,t){
  if(t == -1){
    var r = confirm("确定删除该花卉？");
  }
  if(r == true){
    $.post(location.href,{"id":id,"t":t},function(data){
      alert(data.msg);
      if(data.ret == 1) location.reload();
    },'JSON');
  }
}
</script>
{/block}
