{extend name="admin:base" /}
{block name="main"}
  <!-- 搜索 -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">订单列表</h3>
    </div>
    <div class="box-body">
      <form method="GET" action="{:url('admin/orderlist')}" id='form'>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <div class="input-group">
            <input name="word" type='text' class='form-control' value="" placeholder='标题关键词搜索..'>
            <span class="input-group-addon" onclick="$('#form').submit();"><i class="fa fa-search"></i></span>
              {if condition="$_GET['word'] neq ''"}
            <a title='清除条件' class="input-group-addon" href="{:url('admin/orderlist')}"><i class="fa fa-remove"></i></a>
            {/if}
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.box-body -->
  </div>
  <!-- 列表 -->
  <div class="box box-solid">
    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <th>花卉</th>
            <th>用户</th>
            <th>数量</th>
            <th>金额</th>
            <th>状态</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td><img height="60" src="{$THink.Config.WEBSERVER}/{$vo['cover']}"></td>
            <td>{$vo['nickname']}</td>
            <td>{$vo['num']}</td>
            <td><span class="label label-success">${$vo['fee']}</span></td>

            <td>{if condition="$vo['status'] eq 1"}<span class="label label-warning">unpay</span>
              {elseif condition="$vo['status'] eq 2"}<span class="label label-success">wating post</span>
              {elseif condition="$vo['status'] eq 3"}<span class="label label-info">wating recieve</span>{elseif condition="$vo['status'] eq 4"}
              <span class="label label-primary">done</span>{/if}
            </td>
            <td>{$vo.addtime|date="Y-m-d H:i",###}</td>

            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  管理
                  <span class="caret"></span>
                  <span class="sr-only">+</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:post({$vo['id']})">发货</a></li>

                  <li class="divider"></li>
                  <li><a href="javascript:setstat({$vo.id},-1);">删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>

    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	    <ul class="pagination pagination-sm no-margin pull-right">{$page}</ul>
	  </div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="flower">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">填写发货信息</h4>
        </div>
        <div class="modal-body">


            <form class="form" id="updateadmin">
              <input type="hidden" name="oid" value="">

              <div class="form-group">
                  <label for="">快递公司</label>
                  <input type="text" name="expressname"  class="form-control">
              </div>


              <div class="form-group">
                  <label for="">快递单号</label>
                  <input type="text" name="expressid"  class="form-control">
              </div>


            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="makepost()" class="btn btn-primary">提交</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




<script type="text/javascript">
function setstat(id,t){
  if(t == -1){
    var r = confirm("确定删除该订单？");
  }
  if(r == true){
    $.post(location.href,{"id":id,"t":t},function(data){
      alert(data.msg);
      if(data.ret == 1) location.reload();
    },'JSON');
  }
}

function post(id){
  $("input[name='oid']").val(id);
  $("#flower").modal();
}


function makepost(){
  var name = $("input[name='expressname']").val();
  var expressid = $("input[name='expressid']").val();
  if(name == '' || expressid == ''){
    alert('please fill the info');
    return fasle;
  }

  $.post("{:url('index/admin/makepost')}",{'oid':$("input[name='oid']").val(),'name':name,'eid':expressid},
function(data){

  alert(data.msg);

    if(data.code ===1){
      location.reload();
    }



},'JSON');



}
</script>
{/block}
