{extend name="admin:base" /}
{block name="main"}
<link rel="stylesheet" href="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
  <!-- 搜索 -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">代养列表</h3>
    </div>
    <div class="box-body">
      <form method="GET" action="{:url('admin/order2list')}" id='form'>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <div class="input-group">
            <input name="word" type='text' class='form-control' value="" placeholder='关键词搜索..'>
            <span class="input-group-addon" onclick="$('#form').submit();"><i class="fa fa-search"></i></span>
              {if condition="$_GET['word'] neq ''"}
            <a title='清除条件' class="input-group-addon" href="{:url('admin/order2list')}"><i class="fa fa-remove"></i></a>
            {/if}
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.box-body -->
  </div>
  <!-- 列表 -->
  <div class="box box-solid">
    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <th>商品</th>
            <th>用户</th>
            <th>数量</th>
            <th>总费用</th>
            <th>托管时长</th>
            <th>状态</th>
            <th>下单时间</th>
            <th>操作</th>
          </tr>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td><img height="60" src="{$THink.Config.WEBSERVER}/{$vo['cover']}"></td>
            <td>{$vo['nickname']}</td>
            <td>{$vo['num']}</td>
            <td><span class="label label-success">${$vo['fee']}</span></td>
            <td><span class="label label-warning">{$vo['time']}month</span></td>
            <td>{if condition="$vo['status'] eq 1"}<span class="label label-warning">未支付</span>
              {elseif condition="$vo['status'] eq 2"}<span class="label label-success">托养中</span>
              {/if}
            </td>
            <td>{$vo.addtime|date="Y-m-d H:i",###}</td>

            <td>


              {if condition="$vo['status'] eq 2"}
                <a href="javascript:updatestat({$vo['id']})" class="btn btn-success">更新花卉状态</a>

                  <!-- <a href="javascript:;" class="disabled btn btn-default">replied</a> -->
                {/if}
                <a href="javascript:setstat({$vo.id},-1);" class="btn btn-danger">删除</a>



            </td>
          </tr>
          {/volist}
        </tbody>
      </table>

    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	    <ul class="pagination pagination-sm no-margin pull-right">{$page}</ul>
	  </div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="flower">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">update flower status now</h4>
        </div>
        <div class="modal-body">


            <form class="form" id="updateadmin">
              <input type="hidden" name="oid" value="">

              <div class="form-group">
                  <label for="">height(cm)</label>
                  <input type="number" name="height" value="40" class="form-control">
              </div>

              <div class="form-group">
                <label for="">wight(g)</label>
                <input type="number" name="weight" value="20" class="form-control">
              </div>


                <div class="form-group">

                  <textarea name="text" class="form-control" rows="8" cols="80" placeholder="please decribe the flower status ,using words"></textarea>

                </div>

                <div class='form-group'>
                  <label>detail图片：</label>
                    <a href="javascript:$('.showcover').html('');" onclick="return confirm('确定清除？');" class='pull-right'>清除封面</a> <br>
                      <button type='button' class='btn btn-success btn-sm fileinput-button'><i class="glyphicon glyphicon-picture"></i> <small>推荐尺寸 400*300 点击上传</small>
                        <input  id="uploadcover" type="file" name="files" accept="image/*" multiple></button>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div id="files" class="files">
                        </div>
                        <div class='showcover' style="min-height:300px;">


                        </div>

                </div>





            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="makeupdate()" class="btn btn-primary">Submit</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script type="text/javascript">
function setstat(id,t){
  if(t == -1){
    var r = confirm("确定删除该订单？");
  }
  if(r == true){
    $.post(location.href,{"id":id,"t":t},function(data){
      alert(data.msg);
      if(data.ret == 1) location.reload();
    },'JSON');
  }
}

function updatestat(id){
  $("input[name='oid']").val(id);
  $("#flower").modal();
}


function makeupdate(){

$.post("{:url('index/admin/FlowerStatUpdate')}",$("#updateadmin").serialize(),function(data){


      alert(data.msg);
      if(data.code === 1){
        location.reload();
      }


},'JSON');

}
</script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/load-image.all.min.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/canvas-to-blob.min.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/jquery.fileupload-process.js"></script>
<script src="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/js/jquery.fileupload-image.js"></script>
<script type="text/javascript">
$(function(){
    $('#uploadcover').fileupload({
        url: "{:url('Common/upload')}",
        dataType: 'JSON',
        acceptFileTypes: 'jpg,png,gif,jpeg,bmp',
      maxFileSize: 8000000, // 800kb
      disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator && navigator.userAgent),
        imageMaxWidth: 400, //自动裁剪保持该宽度
        imageMaxHeight: 300,
        imageCrop: true,
        done: function (e, data) {
          console.log(data);
          if(data.result.ret == 1){


              var file=`<div class="col-xs-6 col-md-3">
              <input type="hidden" name='album[]' value=`+data.result.file+`>
                  <a href="#" class="thumbnail">
                    <img src="{$Think.Config.WEBSERVER}/`+data.result.file+`" alt="...">
                  </a>
                </div>`;
              $(".showcover").append(file);
            }else{
              // alert(data.result.msg);
            }
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');

});
</script>
{/block}
