{extend name="admin:base" /}
{block name="main"}
  <!-- 搜索 -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">咨询列表</h3>
    </div>
    <div class="box-body">
      <form method="GET" action="{:url('admin/queslist')}" id='form'>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <div class="input-group">
            <input name="word" type='text' class='form-control' value="" placeholder='标题关键词搜索..'>
            <span class="input-group-addon" onclick="$('#form').submit();"><i class="fa fa-search"></i></span>
              {if condition="$_GET['word'] neq ''"}
            <a title='清除条件' class="input-group-addon" href="{:url('admin/queslist')}"><i class="fa fa-remove"></i></a>
            {/if}
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.box-body -->
  </div>
  <!-- 列表 -->
  <div class="box box-solid">
    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <th>问题</th>
            <th>用户</th>
            <th>咨询时间</th>
            <th>操作</th>
          </tr>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td><td>{$vo.title}</td>
            <td>{$vo['nickname']}</td>
        <td>{$vo.addtime|date="Y-m-d H:i",###}</td>

            <td>
              {if condition="$vo['answer'] eq ''"}
                <a href="javascript:reply('{$vo['id']}','{$vo['content']}')" class="btn btn-success">回复</a>
                {else/}
                  <a href="javascript:;" class="disabled btn btn-default">已回复</a>
                {/if}
                <a href="javascript:setstat({$vo.id},-1);" class="btn btn-danger">删除</a>

            </td>
          </tr>
          {/volist}
        </tbody>
      </table>

    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	    <ul class="pagination pagination-sm no-margin pull-right">{$page}</ul>
	  </div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="ansmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">please tell us what you want</h4>
        </div>
        <div class="modal-body">


            <form class="form">
              <input type="hidden" name="qid" value="">

              <div id="ques" class="well">


              </div>


                <div class="form-group">

                  <textarea name="answer" class="form-control" rows="8" cols="80"></textarea>

                </div>



            </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="replyques()" class="btn btn-primary">Submit</button>
        </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




<script type="text/javascript">
function setstat(id,t){
  if(t == -1){
    var r = confirm("确定删除该咨询？");
  }
  if(r == true){
    $.post(location.href,{"id":id,"t":t},function(data){
      alert(data.msg);
      if(data.ret == 1) location.reload();
    },'JSON');
  }
}


function reply(id,title){
  $("input[name='qid']").val(id);
  $("#ques").html(title);
  $("#ansmodal").modal();
}


function replyques(){

  var ans=$("textarea[name='answer']").val();
  if(ans == ''){
    alert('pls answer the question');
    return false;
  }


  $.post("{:url('index/admin/replyques')}",{'id':$("input[name='qid']").val(),'answer':ans},function(data){

    alert(data.msg);
      if(data.code===1){
        location.reload();
      }


  },'JSON');


}
</script>
{/block}
